{% extends 'base.html' %}

{% block content %}
   <div class="row">
      <div class="col s4">
                <div class="card">
                    <div class="card-image">
                        <a href="/"><img src="/" alt=""></a>
                    </div>
                    <div class="card-content">
                        <p>Testing</p>
                    </div>
                    <div class="card-action">
                        <a href="/">View listing: Test Price</a>
                    </div>
                </div>
            </div>
        <div class="col s4">
                <div class="card">
                    <div class="card-image">
                        <a href="/"><img src="https://media.wired.co.uk/photos/606d9caadbc4c121710a3ea2/master/pass/wired-uk-puppyboom.jpg" alt=""></a>
                    </div>
                    <div class="card-content">
                        <p>Testing</p>
                    </div>
                    <div class="card-action">
                        <a href="/">View listing: Test Price</a>
                    </div>
                </div>
            </div>
        <div class="col s4">
                <div class="card">
                    <div class="card-image">
                        <a href="/"><img src="https://media.wired.co.uk/photos/606d9caadbc4c121710a3ea2/master/pass/wired-uk-puppyboom.jpg" alt=""></a>
                    </div>
                    <div class="card-content">
                        <p>Testing</p>
                    </div>
                    <div class="card-action">
                        <a href="/">View listing: Test Price</a>
                    </div>
                </div>
            </div>
   </div>
{% endblock content %}